<%- include('includes/header', {}); %>
<div id='header'>
  <form>
    <select name='order' onchange='this.form.submit();'>
      <option disabled selected>Rendezés</option>
      <option value='date'>Időrend</option>
      <option value='popularity'>Népszerűség</option>
    </select>
  </form>
</div>
<div id='main'>
  <% notes.forEach(function(note) { %>
    <div class='note-preview'>
        <h3><a href='/note/<%= note.id %>'><%= note.title %></a></h3>
        <a href='/user/<%= note.user.id %>'><%= note.user.name %></a>
        <span class='info'><%= note.dateString %> • <%= note.viewCount %> megtekintés</span>
      </div>
  <% }); %>
</div>
<%- include('includes/footer', {}); %>
