<%- include('includes/header', {}); %>
<div id='header'>
  <h2><%= note.title %></h2>
</div>
<div id='main'>
  <span class='info'><%= note.dateString %> • <%= note.viewCount %> megtekintés</span>
  <% if (userid === note.user.id) { %>
    <button id='editButton'>Szerkesztés</button>
    <button id='deleteButton' data-note-id='<%= note.id %>'>Törlés</button>
  <% } %>
  <div id='post-body' data-encoded='<%= note.base64 %>'>
    <%- note.parsedHTML %>
  </div>
  <span class='user'><a href='/user/<%= note.user.id %>'><%= note.user.name %></a></span>
</div>
<script src='/js/edit.js'></script>
<%- include('includes/footer', {}); %>
