<%- include('includes/header', {}); %>
<div id='header'>
  <h2><%= user.name %> profilja</h2>
  <a href='/write'>Jegyzet írása</a>
</div>
<div id='main'>
  <% notes.forEach(function(note) { %>
    <div class='note-preview'>
      <h3><a href='/note/<%= note.id %>'><%= note.title %></a></h3>
      <span class='info'><%= note.dateString %> • <%= note.viewCount %> megtekintés</span>
    </div>
  <% }); %>
</div>
<%- include('includes/footer', {}); %>
